body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.playerAdd {
  display: flex;
  flex-direction: column;
  color: red;
}

.addButton {
  background-color: black;
  color: silver;
}



