@tailwind base;
@tailwind components;
@tailwind utilities;









body {
  background: linear-gradient(to right, #1202c0, #f17901);
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

a {
  color: #00B7FF;
}

.playerAdd {
  display: flex;
  flex-direction: column;
  color: red;
}

.addButton {
  background-color: black;
  color: silver;
}

body > nav {
  grid-area: nav;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.wrapper {
  background: url(https://i.imgur.com/A5jCWii.jpg);
  background-size: cover;
  z-index: 1000;
}
